/* 
    Document   : footerSheet
    Created on : May 10, 2013, 4:58:03 PM
    Author     : andy
    Description:
        Purpose of the stylesheet follows.
*/
#footer{
   clear: both;
   width:950px;
   margin: 0 auto;
   position: relative;
   right: 50px;
   top: 50px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}
