/* 
    Document   : headerSheet
    Created on : May 10, 2013, 4:34:13 PM
    Author     : andy
    Description:
        Purpose of the stylesheet follows.
*/

#header{

    width: 1000px;
    height: 80px;
    position: relative;
    border-bottom: 0px #cccccc groove;
}

a:link { color: #ff0099;}
a:visited {color: #ff0099;}
a:active {color: #ff0099;}
a:hover {color: #ff0099;}
a {text-decoration: none}

a.en:link { color: #666666;}
a.en:visited {color: #666666;}
a.en:active {color: #ff0099;}
a.en:hover {color: #666666;}
a {text-decoration: none}

a.fgw:link { color: black;}
a.fgw:visited {color: black;}
a.fgw:active {color: black;}
a.fgw:hover {color: black}
a {text-decoration: none}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

h1.enri{
font-family: "Century Gothic";
font-family: "Droid Sans";
   font-style: normal;
   font-weight: 200;
   position: absolute;
}
h3.h1{
   font-size: 12px;
    color: #666666;
   font-family: "Century Gothic";
   font: "Droid Sans";
   font-style: normal;
   font-weight: 200;
   position: absolute;
   left: 10px;

}
h3.h2{
   font-size: 13px;
   color: #666666;
   font-family: "Century Gothic";
   font: "Didot";
   font-weight: 500;
   position: absolute;
   top: 45px;
   left: 2px;


}
/*
login section css control
*/
.usernamInput{
 position: absolute;
   top: 24px;
   right: 350px
}
.passwordInput{
 position: absolute;
  right: 180px;
  top: 24px;
}
.username{

   padding-top:  50px;
   color: #333333;
   padding-left: 2px;
   font-size: 12px;
   position: absolute;
   right: 458px;
   top: -40px;

}
.forgetPw{
   font-size: 11px;
   color: #333333;
   color: white;
   position: absolute;
   right: 400px;
   top: 50px;
   
}

.password{

   font-size: 12px;
   position: absolute;
   right: 288px;
   top: 10px;
}
.SignUp{
   font-size: 11px;
    position: absolute;
   right: 300px;
   top: 50px;
}


.logIn{
 position: absolute;
   right: 100px;
   top: 24px;
  
}
button{
   color: white;
   background-color:  orangered;
       
}

