@charset "utf-8";

html{
    font-family: Arial !important;
    overflow-x: no-display;
    overflow-y: scroll;
}

#container{
  width: 1201px; /*89%*/;
  margin: 0 auto;
  position: absolute;
  top: 120px;;
  left: 0px;
  right: 0px;
  border:  0px solid rgba(0, 0, 0, 0.1);
  min-width: 600px;
}


.feed_1
{
    background : #FFFFFF;
    -webkit-box-shadow: 0px 0px 10px 0px #ccc;
    -moz-box-shadow: 0px 0px 10px 0px #ccc;
    box-shadow: 0px 0px 10px 0px #ccc;  
    cursor: pointer;
    position : relative ;
    left : 100px;
    top : 20px;
    width : 63.1%;
    margin-bottom: 30px;
    padding-bottom: 10px;
  

}

.post_comments
{
    background : whitesmoke;
   
    width : 100%;
    border-radius : 0px 0px 10px 10px;
    -moz-border-radius : 0px 0px 10px 10px;
    -webkit-border-radius : 0px 0px 10px 10px;
}
.post_flag
{
    background : #FFFFFF;

    position : relative ;
    left : 239px;
    width : 75px;
    height : 40px;
    border-radius : 0px 10px 10px 0px;
    -moz-border-radius : 0px 10px 10px 0px;
    -webkit-border-radius : 0px 10px 10px 0px;
    cursor: pointer;
    display: block;
    margin-bottom: -50px;
    margin-top: 5px;

}
.post_text ul li.post_flag img.homeFood{
    position: relative;
    top: 0px;
    left: 5px;
}
.post_stats
{
    background : #FF4500;
    background : rgba(255, 69, 0, 1);
    width : 305px;
    height : 123px;
    border-radius : 0px 10px 10px 0px;
    -moz-border-radius : 0px 10px 10px 0px;
    -webkit-border-radius : 0px 10px 10px 0px;
    cursor: pointer;
    display: none;
   
}
.post_stats{
    font-size: 13px;
    color: #ffffff;
    position: absolute;
    left: 0px;
    
}

.post_stats ul li{
    display: inline-block;
   margin-right: 15px;
   margin-bottom: 10px;
}

.post_stats ul li span{
    position: relative;
    bottom: 5px;
    left: -4px;
}

.post_comments_box_btn
{
    background : #FF4500;
    background : rgba(255, 69, 0, 1);
    position : relative ;
    left : 798px;
    top : 596px;
    z-index: 1;
    width : 64px;
    height : 35px;
    border-radius : 0px 10px 10px 0px;
    -moz-border-radius : 0px 10px 10px 0px;
    -webkit-border-radius : 0px 10px 10px 0px;
}
.post_comments_box p{
    position: relative;
    top: 8px;
}
.post_profile_photo
{
    background : #4D4D4D;
    background : rgba(77, 77, 77, 1);
    position : relative ;
    left : -5px;
    top : 30px;
    margin-bottom: -100px;
    width : 100px;
    height : 100px;
    
}

.post_text ul li.post_profile_link{
   width: 100%;
    height: 30px;
    color: #FF4500;
    margin-top: 20px;
    margin-bottom: 10px;
    position : relative ;
    left : -40px;
    top: 0px;
    z-index: 1;
     border-top:  1px solid rgba(0, 0, 0, 0.1);
}

.post_profile_link ul li{
    font-size: 12px;
    display: inline-block;
    margin-right: 8px;
        
}

.post_profile_link ul.recipeNav{ 
    position: relative;
    left: 300px;
    top: -12px;
    margin-bottom: 10px;
}

.post_profile_link ul.recipeNav li.cookboxit img{
    position: relative;
    top: 3px;
}

.post_profile_link ul.TYCKSHR{
    position: relative;
    top: 12px;
    left: -20px;
}

.post_profile_link ul li.tastyCount img{
    position: relative;
    left: 0px;
}

.post_profile_link ul li.tastyCount span{
    position: relative;
    left: 2px;
    top: -1px;
}
.post_profile_link ul li.cookCount img{
    position: relative;
    top: 0px;
    left: 10px;
}
.post_profile_link ul li.cookCount span{
    position: relative;
    left: 13px;
}
.post_profile_link ul li.shareCount img{
    position: relative;
    left: 20px;
}

.post_profile_link ul li.shareCount span{
    position: relative;
    left: 23px;
}

.post_text{
    font-size: 13px;
    width : 450px;
}

.post_text ul li{
    color: grey;
    list-style: none;
    margin-left: 0px;
}

.post_text ul li a{
    text-decoration: none;
    color: #FF4500;
}
.post_text ul li.RecpPhoto{
    
    font-size: 15px;  line-height: 145%;
    position: relative;
    right: 40px;
    top: -3px;
}
.post_text ul li.RecpPhoto img{
    width: 100%;
    height: 250px;
}
.post_text ul li.hashTagTitle{
    width: 60%;
    color: grey;
    font-size: 1.25em;
    margin-left: -30px;
    margin-top: 15px;
    font-weight: 600;
}
.post_text ul li.hashTagTitle:hover{
    color: #F4716A;
    text-decoration: underline;
    cursor: pointer;
}

.post_text span.mealType{
    width: 50px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 12px;
    position: relative;
    top: 10px;
    left: 310px;
    
}

.post_text ul li.recipDesc{
    width: 100%;
    font-size: 15px;
    margin-left: -30px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 2px;
    padding-right: 30px;
}

.SHARED{
    color: rgba(0, 0, 0, 0.5);
}

.picIngShp{
    width: 150px;
    font-size: 13px;
    color:rgba(0, 0, 0, 0.3);
    position: relative; left: 400px; top: -140px

}

.picIngShp ul li{
    margin-left: 8px;
    display: inline-block;
}
.picIngShp ul li.ShpCt{
     position: relative;  top: -0px
}



.post_comments_box_profile_photo
{
    background : #4D4D4D;
    background : rgba(77, 77, 77, 1);
    position : relative ;
    left : 8px;
    top:  26px;
    width : 35px;
    height : 36px;
}
.post_comments_box
{
    font-size: 13px;
    color: grey;
    background : #FFFFFF;
    background : rgba(255, 255, 255, 1);
    position : relative;
    left : 45px;
    top: -10px;
    width : 350px;
    height : 35px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.post_comments_box p{
    position: relative;
    bottom: 10px;
    margin-left: 5px;
}

.commentCounter{
    color: rgba(0, 0, 0, 0.2);
    font-size: 12px;
    text-align: center;
    position: relative;
    top: 5px;
}
.commentCounter span{color: #FF4500; margin-bottom: 10px;}

.UserComments{
	
	margin-bottom: 0px;
}

.user_photo{
    position : relative ;
    left : 18px;
    top: 20px;
    width : 35px;
    height: 36px;
}


.user_name{
    width: 320px;
    font-size: 13px;
    color:#FF4500;

    position: relative;
    top: -20px;
    left: 65px;
}
.user_name a{
    text-decoration: none;
    color: #FF4500;
}
.user_comment{

    font-size: 13px;
    color:grey;
    width: 400px;
    position: relative;
    top: -25px;
    left: 65px;
}

.postTime{

    font-size: 11px;
    color:rgba(0, 0, 0, 0.3);

    position: relative;
    top: -45px;
    left: 290px;
    width: 150px
}










.cooklayer{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: 1000;
    display: none
}


.TOOLTIP{
    color: grey;
    width: 424px;
    height: 150px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 35px;
    z-index: 1500;
    display: none;
}


.TOOLTIP span.tooler:after {
  content: ' ';
    display: block;
    position: absolute;
    left: 10px;
    top: -8px;
    width: 14px;
    height: 14px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-style: none none solid solid;
    background-color: #fff;
    box-shadow: -1px 1px 2.5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -1px 1px 2.5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 1px 2.5px rgba(0, 0, 0, 0.1);
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
  
}

.TOOLTIPHOLDER{
    width: 420px;
    height: 125px;
    font-size: 13px;
    color: grey;
    margin-left: 5px;
    position: absolute;
    top: 38px;
    z-index: 1500;
    display: none;
   
}
.TOOLTIPHOLDER::-webkit-scrollbar {
    width: 10px;
}

.TOOLTIPHOLDER::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.TOOLTIPHOLDER::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); 
}

.TOOLTIP b{
    color: grey;
    width: 250px;
    font-size: 15px;
     position: relative;
    top: 10px;
    left: 125px;
     border-bottom: 2px solid orangered;
     margin-bottom: 10px;
}
.TOOLTIPHOLDER p{
    margin-bottom: -5px;
}

.ingrQty{
    font-weight: 700;
    margin-left: 5px;
    margin-right: 5px;
  margin-top: 10px;
  
}
.ingre{

}





.TOOLTIPShc{
    color: grey;
    width: 390px;
    height: 150px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 35px;
    right: 304px;
    z-index: 1500;
    display: none;
}
.TOOLTIPShc b{
    color: grey;
    width: 250px;
    font-size: 15px;
     position: relative;
    top: 10px;
    left: 155px;
     border-bottom: 2px solid orangered;
     margin-bottom: 10px;
}
.TOOLTIPShc span.tooler:after {
  content: ' ';
    display: block;
    position: absolute;
    left: 355px;
    top: -8px;
    width: 14px;
    height: 14px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-style: none none solid solid;
    background-color: #fff;
    box-shadow: -1px 1px 2.5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -1px 1px 2.5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 1px 2.5px rgba(0, 0, 0, 0.1);
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
  
}

.TOOLTIPHOLDERShc{
    width: 350px;
    height: 106px;
    font-size: 13px;
    color: gray;
    margin-left: 5px;
    margin-right: 10px;
    position: absolute;
    top: 78px;
    right: 333px;
    z-index: 1500;
    display: none;
   
}
.TOOLTIPHOLDERShc::-webkit-scrollbar {
    width: 9px;
}

.TOOLTIPHOLDERShc::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.TOOLTIPHOLDERShc::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); 
}

#YesBut{
   width: 70px;
    height: 35px;
    color: white;
    background: #F4716A;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    
}

#NoBut{
    width: 70px;
    height: 35px;
    color: white;
    background: #F4716A;
    margin-top: 10px;
    margin-left: 20px;
   
}

.shopIcon{
    width: 35px;
    height: 35px;
}
.shopName{
    font-weight: 700;
  position: relative;
  left: 40px;
  bottom: 36px;
}
.shopAddress{
    width: 350px;
    position: relative;
  left: 40px;
  bottom: 33px;
}

#SHLOADER{
    position: relative;
  left: 160px;
  top: 3px;
}