/* 
    Document   : loadCountries
    Created on : May 10, 2013, 6:08:46 PM
    Author     : andy
    Description:
        Purpose of the stylesheet follows.
*/


.loadCon{
    width: 500px;
    margin: 0 auto;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    position: relative;
    right: 3px;
    top: -10px;
   
  

}
.picture{
    width: 70px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

.Cname{
    position: relative;
    left: 80px;
    top: -73px;
}

.Desc{
    width: 400px;
    position: relative;
    left: 80px;
    top: -63px;
    font-family: "Proxima Nova";
    letter-spacing: 1px;
    font-size: 16px;
    color: #666666;
    margin-bottom: 0px;
}

a.Clink:link { color: grey;
  font-size: 17px;
}
a.Clink:visited {color: grey;}
a.Clink:active {color: grey;}
a.Clink:hover {color:  #666666;
}
a {text-decoration: none}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

.Finderload{
  margin-top: 25px;
  margin-bottom: 40px;
  position: absolute;
  left: 550px;
  background: white

	
}