/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2014, 9:07:48 PM
    Author     : Uche
*/


#passwordDialog_layer{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    z-index: 1000;
      display: none;
}

#password_dialog{
    width: 400px;
    height: 150px;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    bottom: 10%;
    right: 20%;
    left: 20%;
    background-color: white;
    z-index: 1500;
    box-shadow: 0 0 50px #000;
    -box-shadow: 0 0 50px #000;
    -webkit-box-shadow: 0 0 50px #000;
    -ms-box-shadow: 0 0 50px #000;
      display: none;
}

#passwordDialog_close{
    cursor: pointer;
    color: orangered;
    width: 30px;
    line-height: 30px;
    background-color: white;

    text-align: center;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 120px;
    right: -0px;
    display: none;
}

#passwordDialogheader_dialog{
    width: 400px;
    height: 30px;
     font-family: "Century Gothic";
   font: "Didot";
    font-weight: 700;
   font-size: 14px;
    color: white;
    background: orangered;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#passwordDialogheader_dialog span.txt{
    position: relative;
    left:10px;
    top: 5px;
}

#passwordDialog_message{
    font-family: "Century Gothic";
   font: "Didot";
   font-size: 12px;
    color: #666666;
    position: relative;
    left:20px;
    top: 5px;
}

#PwordConfirmationsusrform span{
     font-family: "Century Gothic";
   font: "Didot";
   font-size: 12px;
    color: #666666;
    margin-right: 10px;
    margin-left: 20px;
}

#PwordConfirmationsusrform input#updatePwordConfimation{
    width: 200px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;

}

#PwordConfirmsubmitBt{
    width: 80px;
    height: 27px;
     font-family: "Century Gothic";
    font: "Didot";
    color: white;
    font-size: 13px;
    font-weight: 700;
    background: orangered;
    border: none;
    text-align: center;
    position: relative;
    left: 145px;
    top: 15px;
}

#PwordConfirmsubmitBt:hover{
    cursor: pointer;
}

#NoPwordErrorMessage{
     font-family: "Century Gothic";
    font: "Didot";
    font-size: 11px;
    color: red;
    position: relative;
    left: 90px;
    display: none;
}