/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2014, 3:20:48 PM
    Author     : Uche
*/

#setsPassword{
    border: 0px solid rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
#Settingpasssusrform span.NP_info{
    color: red;
    font-size: 9px;
    position: relative;
    top: 27px;
    right: 20px;
}

#Settingpasssusrform span.err_mes{
   
    color: red;
    font-size: 12px;
    position: relative;
    top: 30px;
    left:50px;
}

#Settingpasssusrform input{ 
    font-size: 14px;
    margin-bottom: 50px;
    margin-left: 20px;
    border:  1px solid rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 35px;
    position: relative;
    left: 150px;
}



#setsPasswrdsubmitBt{
    height: 30px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    background: orangered;
    border: none;
    
    position: relative;
    left: 270px;
}

#setsPasswrdsubmitBt:hover{
    cursor: pointer;
}

#Settingpasssusrform span#NPwordHint{
    color:orangered;
    font-size: 10px;
    
   position: relative;
   left: 150px;
   bottom: 58px;
}

#Settingpasssusrform span#ajax_loader img{
   position: relative;
   left: 180px;
   top:5px;
}
#setsPasswrdsubmitBt img{
    margin-left: 3px;
    margin-top: 3px;
}
