/* 
    Document   : foodsheet
    Created on : May 24, 2013, 1:12:55 PM
    Author     : andy
    Description:
        Purpose of the stylesheet follows.
*/

#container { 
    width: 1000px;
    margin: 0 auto;
    margin-right: 200px;
    padding-left: 100px;

}

#leftnav{
        
    float: left;
	width: 180px;
        position: relative;
        top: 20px;
}

#body{
 margin: 0 auto;
 width: 550px;
 padding: 10px 0px 0px 10px;
 border-right:  1px solid rgba(0, 0, 0, 0.1);
 border-left:  1px solid rgba(0, 0, 0, 0.1);
 position: relative;
 right: 33px;
 top: 20px;
 background-color: whitesmoke;
 
}

#Swrapper{
    width: 170px;
    margin: 0 auto;
    position: relative;
    right: 50px;
    bottom: 40px;
}

.foodCon{
    width: 480px;
    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.foodCon:hover{
    cursor: pointer;
    background-color: #fcfcfc;
}
#foodpic{
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    top: 15px;
    left: 10px;
}
#foodName{
    position: relative;
    left: 120px;
    top: -88px;
    color: #666666;
    font-weight: 600;
     font-family: "Proxima Nova";
   font: "Didot";
   font-size: 14px;

}
#foodDesc{
    width: 350px;
    position: relative;
    left: 120px;
    top: -83px;
    color: #666666;
    font-family: "Proxima Nova";
    letter-spacing: 1px;
   font-size: 16px;
   margin-bottom: -40px;
}

#meals{
    width: 70px;
    height: 22px;
    margin: 0 auto;
    margin-bottom: -30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    left: 100px;
    bottom: 20px;
    color: #666666;   
     cursor: pointer;
     font-weight: 600;
    font-size: 12px;
}

.products{
    width: 70px;
    height: 22px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    left: 190px;
    bottom: 14px;
    color: #666666;   
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
}

.products:hover{
    background-color: orangered;
    color: white;
}



#meals:hover{
   background-color: orangered;
    color: white;;
}
#P{
    position: relative;
    left: 10px;
    top: 3px;
}
#M{
    position: relative;
    left: 14px;
    top: 3px;
}

#inputFood{
    margin: 0 auto;
  width: 480px;
  height: 30px;
  position: relative;
  left:-156px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family:verdana;
  background-color: white;
  margin-bottom: 10px;
 
}



#tag{
    
    position: relative;
    left: 35px;
    top: 10px;
    font-size: 11px;
}
#tag p{
     position: relative;
     top: -30px;
     left: 25px;
     font-size: 9px;
     margin-bottom: -20px;
     color: #666666;
     font-weight: 600;
     font-family: "Century Gothic";
   font: "Didot";
}

#tag p.navCountry{
    position: relative;
    left: 365px;
    top: -33px;
    margin-right: 400px;
    
}

#tag p.navCountry:hover{
    cursor: pointer;
    text-decoration: underline;
}
#tag img.im1{
    position: relative;
    top: -30px;
    left: 335px;
    margin-bottom: -10px;
    
}
.btnTag{
    margin: 0 auto;
    width: 480px;

    position: relative;
    top: -5px;
    left:-155px;
    
    
}

#submitBt{
width: 50px;
height: 25px;
position: relative;
top: -3px;
left: 430px;
color: #666666;  
font-weight: 600;
font-size: 9px;
background-color: #fcfcfc;
cursor: pointer;
}

#uploadPic{
    width: 50px;
    height: 23px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    top: -27px;
    color: #666666;   
    cursor: pointer;
    font-weight: 600;
    font-size: 9px;
      background-color: #fcfcfc;
}

#uploadProducts{
    width: 55px;
    height: 23px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    top: -52px;
    left: 62px;
    margin-bottom: -50px;
    color: #666666;   
    cursor: pointer;
    font-weight: 600;
    font-size: 9px;
    background-color: #fcfcfc;
}

#uploadProducts p{
    position: relative;
    left: 7px;
    top: -5px;
}
#uploadProducts:hover{
      background-color: whitesmoke;
}

#uploadPic p{
     position: relative;
    left: 7px;
    top: -5px;
}
#uploadPic:hover{
    background-color: whitesmoke;
}

.nuterients{
    font-size: 10px;
    position: relative;
    left: 145px;
    top:-37px;
    color: #cccccc;
    font-weight: 600;
      width: 0px;
    height: auto;
    margin-bottom: -30px;
}

.nuterients:hover{
    text-decoration: underline;
    cursor:  pointer;
    color:  #666666;
}

.OtherCountry{
    font-size: 10px;
    position: relative;
    left: 210px;
    top:-25px;
    color: #cccccc;
    font-weight: 600;
      width: 80px;
    height: auto;
}

.OtherCountry:hover{
   text-decoration: underline;
    cursor:  pointer;
    color:  #666666;
   
}


  
  .tooltips{
    border:1px solid rgba(0, 0, 0, 0.1);
    background: white;
    color: #666666;
    font-family: "Century Gothic";
   font: "Didot";
   font-size: 10px;
    padding:10px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 20px;
    
  
    width:300px;
    height: 100px;
    margin-bottom: 30px;
    overflow: auto;
    display: none;
  }
  
input[type=file] {
    display:block;
    height:0;
    width:0;
}

textarea{
    resize: none;
}