/* 
    Document   : productsheet
    Created on : Jun 7, 2013, 4:48:30 PM
    Author     : andy
    Description:
        Purpose of the stylesheet follows.
*/

#layer{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    z-index: 1000;
}

#dialog{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 20%;
    left: 20%;
   
    background-color: whitesmoke;
    z-index: 1500;
    box-shadow: 0 0 50px #000;
    -box-shadow: 0 0 50px #000;
    -webkit-box-shadow: 0 0 50px #000;
    -ms-box-shadow: 0 0 50px #000;
}

#holdProd{
    height: 440px;
     overflow-x: hidden;
    overflow-y: auto;
       background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#close{
    cursor: pointer;
    width: 30px;
    line-height: 30px;
    background-color: whitesmoke;
    color:orangered;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 470px;
    right: -0px;
}

.prodList{
    width: 500px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    border-bottom:  1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    color: #666666;
    font-family: "Lucida Grande";

    font-size: 14px;

    
}


#header_dialogProd{
    width: 600px;
    height: 30px;
     font-family: "Century Gothic";
   font: "Didot";
    font-weight: 600;
   font-size: 14px;
    color: #666666;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#header_dialogProd span.txt{
    position: relative;
    left:20px;
    top: 5px;
}
