extends layout

block content
    section#container
        div#message
            input#message(type='text', placeholder='Enter your message here')
            input#send(type='button', value='Send')
  
