doctype 5 html
html
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')    
  body
    header#banner
       h1 Awesome cook with show
    block content
    footer hope you enjoyed you stay here