/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2014, 4:11:35 PM
    Author     : Uche
*/

  .Center-DH{
      
    position: relative;
  }
  
  #forgetPWLayer{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: 1000;
    display: none;
    

  }
  
  .forgetPWDialog{
    width: 320px; /*30%;*/
    height: 130px; /*20%;*/
    margin: 0 auto;
    position: absolute;
    text-align: center;
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
 
    box-shadow: 0 0 50px #000;
    -box-shadow: 0 0 50px #000;
    -webkit-box-shadow: 0 0 50px #000;
    -ms-box-shadow: 0 0 50px #000;
    display: none;
    
        
  }
  
  .forgetPWDialog.is-fixed{
      position: fixed;
      top: 20%;
      z-index: 2000;
  }
  
  #forgetPWDialog_header{
    width: 100%;
    height: 30px;
    font-weight: 500;
    font-size: 14px;
    font-weight: 700;
    color: grey;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
}
#forgetPWDialog_header span.txt{
    position: relative;
    top: 7px;
    left: -90px;
}

#forgetPWDialogclose{
     cursor: pointer;
    width: 30px;
    line-height: 30px;
    background-color: white;
    color:orangered;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 100px;
    right: -0px;
    
}

.forgetPWError{
    color: red;
    font-size: 12px;
}
  

#forgetEmail{
    background: #ddd;
    width: 200px;
    height: 29px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#forgetPWButton{
    width: 100px;
   margin-top: 38px;
   margin-left: 15px;
}

#forgetPWButton:hover{
    cursor: pointer;
}